/* --------------- Reset ---------------- */

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------- Board Areas --------------- */

body {
  background-color: rgba(63,93,190,0.8);
}

.game-area {
  width: 1000px;
  height: 600px;
  margin: 20px auto 20px auto;
  padding: 25px;
}

.scoreboard {
  text-align: center;
  background-color: rgba(63,93,190,0.5);
  border-radius: 10px;
  width: 600px;
  height: 120px;
  margin-left:auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.score {
  display: inline-block;
  width: 275px;
  height:90px;
  margin: 5px;
  padding: 15px;
  font-family: "Rajdhani", serif;
  font-weight: 300;
  color: #FFF;
  font-size: 45px;
}

.board-area {
  text-align: center;
  width: 950px;
  height: 300px;
  margin-left:auto;
  margin-right: auto;
  padding: 10px;
}

.board {
  display: inline-block;
  width: 45%;
  height: 90%;
  margin: 15px;
}

.player-board {

}

.computer-board {

}

/* --------------- Castles --------------- */

.castle {
  width: 220px;
  height: 220px;
  background-size: cover;
  margin: 5px;
  padding: 70px 20px 0 20px;
  font-family: "Rajdhani", serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
  color: #FFF;
  font-size: 30px;
}

.player-castle {
  float: left;
  background-color: #17607D;
  border-radius: 20px;
  overflow: hidden;
}

/* .player-castle::before {       lol this does not look right
    content: '';
    background-color: #11485E;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    position: absolute;
 } */

.computer-castle {
  float: left;
  background-color: #17607D;
  border-radius: 20px;
  overflow: hidden;
}

.grey-castle {
  background-color: rgba(63,93,190,1.0);
}

/* --------------- Battles --------------- */

.battle {
  width: 175px;
  height: 225px;
  padding-top: 50px;
  margin: 5px;
  font-family: "Rajdhani", serif;
  font-weight: 300;
  color: #FFF;
  font-size: 100px;
}

.player-battle {
  float: right;
}

.computer-battle {
  float: left;
}

.draw-battle {
  margin-top: -50px;
  font-size: 75%;
}

/* --------------- Shuffle --------------- */

.shuffle {
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 75px;
  background-color: rgba(63,93,190,0.5);
  padding-top: 25px;
  border-radius: 10px;
  font-family: "Rajdhani", serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #FFF;
  font-size: 20px;
}
